/* font style */
body{
    font-family: 'Open Sans', sans-serif;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 230px;
}
.web-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;

}
.orange-primary{
    color: #FD6E0A;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    padding-right: 50px;

}
nav a{
    text-decoration: none;
    color: #474747;
}
.btn-primary{
    border-radius: 2px;
    background-color: #FD6E0A;
    border: none;
    padding: 15px 35px;
    color: white;

}
header{
    background-color: rgb(249, 243, 245);
    background-image: url("../web-developer-portfolio/images/header_bg.png");
    background-size: 600px 375px;
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bn-photo{
    width: 400px;
    padding-right: 0;

}
.h-title{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}
.ban-title{
    font-size: 100px;
    color: #181818;
    margin-top: 5px;
    margin-bottom: 20px;
}
.pra{
    margin-top: 0;
}
.mainarea{
    border-radius: 10px;
    background: #FFF8F3;
    padding: 130px;
    margin: 130px;
}

.sec-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.sec-pra{
    color: var(--dark-03, #757575);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.mainarea-info{
    display: flex;
    justify-content: space-around;
}
.main-info{
    color: #757575;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}
.main-descrep{
    color: #181818;
    margin-top: 0;
}
.sec{
    padding: 30px 200px;
}
.skill-box{
    display: flex;
    margin: 30px 200px;
}
.skill{
    margin: 25px;
    width: 250px;
    height: 350px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.head-title{
    color: #181818;
    /* text-align: center; */
    font-size: 20px;
    font-weight: 700;
    margin-left: 30px;
}
.p-description{
    margin: 30px;
}
.photo{
    margin: 30px;
    margin-bottom: 0;
}
.resu-container{
    display: flex;
    justify-content: space-between;
    margin: 80px 150px 50px;
}
.resu-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}
.resu-title-resu{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
}
.resu-contain-title{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}
.resu-contain{
    color: #757575;
   font-size: 16px;
   font-weight: 400;
}
.btn{
    display: block;
}