/* font style */
body{
    font-family: 'Open Sans', sans-serif;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 230px;
}
.web-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;

}
.orange-primary{
    color: #FD6E0A;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    padding-right: 50px;

}
nav a{
    text-decoration: none;
    color: #474747;
}
.btn-primary{
    border-radius: 2px;
    background-color: #FD6E0A;
    border: none;
    padding: 15px 35px;
    color: white;

}
header{
    background-color: rgb(249, 243, 245);
}
.banner{
    display: flex;
    align-items: center;
}
.bn-photo{
    width: 400px;

}